<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:400,700,900">
<%# <link rel="stylesheet" type="text/css" href="https://sleepercdn.com/css/bundle_ex-87305a41d92475570b2fe6ba03f2c680.css?vsn=d"> %>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<% if logged_in?%>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %></script>
<% end%>

<main id="root"></main>