// Place all the styles related to the api/leagues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.league-avatar img {
  width: 20px;
  height: 20px;
}

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 6px;
  box-sizing: border-box;
  border: 26px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

.custom-radio-item {
  cursor: ponter;
  display: flex;
}
.custom-radio-item > .custom-radio {
    display: flex;
    width: 28px;
    height: 28px;
    -webkit-flex: 0 0 28px;
    -ms-flex: 0 0 28px;
    flex: 0 0 28px;
    border: 1px solid #aaa;
    border-radius: 50%;
    position: relative;
    align-items: center;
    justify-content: center;
}

.custom-radio:focus {
  outline:0;
}

.custom-radio-item > 
.custom-radio
.custom-radio-fill {
  display: block;
  width: 22px;
  height: 22px;
  flex: 0 0 22px;
  border-radius: 50%;
  background: #2196f3;
  position: relative;
  transform: scale(0);
  transition: all 0.1s ease;
}

.custom-radio-item > 
.custom-radio.checked
.custom-radio-fill {
  transform: scale(1);
}
