// Place all the styles related to the api/leagues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-leagues-container {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.left-panel-container {
  height: 100vh;
  flex: 0 0 230px;
  background: #373a44;
}

.left-panel-logo-container {
  display: flex;
  align-content: center;
  text-decoration: none;
}

.left-panel-logo-container h1 {
  margin-top: 6px;
  margin-left: 10px;
  text-align: center;
  font-family: 'Muli';
  font-size: 30px;
  font-weight: 800;
  line-height: 1.52;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.leagues-label {
  color: #969696;
  font-size: 11px;
  font-weight: 600;
  font-style: to-upper-case;
  margin-left: 10px;
  margin-bottom: 10px;
}

.left-panel-logo-container:after {
  border-bottom: 1px solid #60646e;
}

.left-panel-logo-header {
  text-decoration: none;
  color: #000000;
  margin-left: 5px;
  margin-top: 2px;
}

.left-panel-header {
  font-family: 'Muli';
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 400;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.left-panel-logo img {
  width: 40px;
  margin-left: 15px;
  margin-top: 10px;
}

.left-panel-body {
  display: flex;
}

.league-create-container img {
  width: 40px;
  height: 50px;
  margin-right: 10px;
}

.league-create-container{
  padding: 12px 15px 10px 5px;
  background: #454955;
  margin-bottom: 1px;
  cursor: pointer;
  opacity: 1;
  transition: all 0.2s ease;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  text-decoration: none;
}

.league-create-container:hover {
  background: #555966;
}

.league-create-container.selected{
  background: #60646e;
}

.league-create-container .title {
  font-size: 13px;
  font-weight: normal;
  color: #fff;
  line-height: 14px;
  letter-spacing: 0.5px;
}

.league-create-container .description {
  font-size: 10px;
  color: #fff;
  opacity: 0.75;
  margin-top: 2px;
}

.league-item {
  display: flex;
  flex-direction: row;
  padding: 10px 15px 8px 15px;
  background: #454955;
  margin-bottom: 1px;
  cursor: pointer;
  opacity: 1;
  transition: all 0.2s ease;
  position: relative;
}

.league-item:hover {
  background: #555966;
}

.league-item.checked {
  background: #60646e;
}

.league-title {
  color: #fff;
  font-size: 13px;
  width: 135px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 2px;
  font-weight: normal;
  position: relative;
  top: -2px;
  text-transform: capitalize;
  letter-spacing: 0.5px;
}

.league-teams {
  font-size: 10px;
  color: #fff;
  opacity: 0.75;
  margin-top: 2px;
}

.league-avatar img {
  width: 30px;
  height: 30px;
  flex: 0 0 30px;
  background-size: contain;
  background-color: transparent;
  border-radius: 4px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 300;
  font-size: 18px;
  position: relative;
}



.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 6px;
  box-sizing: border-box;
  border: 26px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-hourglass 1.2s infinite;
}

@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

.custom-radio-item {
  cursor: ponter;
  display: flex;
}

.custom-radio-item > .custom-radio {
    display: flex;
    width: 28px;
    height: 28px;
    -webkit-flex: 0 0 28px;
    -ms-flex: 0 0 28px;
    flex: 0 0 28px;
    border: 1px solid #aaa;
    border-radius: 50%;
    position: relative;
    align-items: center;
    justify-content: center;
}

.custom-radio:focus {
  outline:0;
}

.custom-radio-item > 
.custom-radio
.custom-radio-fill {
  display: block;
  width: 22px;
  height: 22px;
  flex: 0 0 22px;
  border-radius: 50%;
  background: #2196f3;
  position: relative;
  transform: scale(0);
  transition: all 0.1s ease;
}

.custom-radio-item > 
.custom-radio.checked
.custom-radio-fill {
  transform: scale(1);
}

.right-panel {
  background: #525252;
  height: 100vh;
  width: 82px;
  box-sizing: border-box;
  position: fixed;
  overflow: auto;
  top: 0;
  right: 0;
  z-index: 9998;
  display: flex;
  flex-direction: column;
}

.leagues-link{
  text-decoration: none;
}

.left-panel-header-container
.auth-button.logout.leagues-button{
  background-color: #373a44;
  flex: 0;
  cursor: pointer;
}

.logout-container {
  position: fixed;
  bottom: 0px;
  left: -15px;
}