.actions {
  display: flex;
  margin: 10px 0 30px 0;
}

.actions .btn {
  flex-grow: 1;
  font-size: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  border-right: 1px solid #ccc;
  color: #7888a4;
  cursor: pointer;
  font-family: 'Muli';
  height: 55px;

  img {
    // width: 100%;
    height: 100%;
  }
}

.actions .btn:hover {
  color: blue;
}
